.webpage-title {
    display: flex;
    justify-content: center;
}

.webpage-description {
    display: flex;
    justify-content: center;
}

.patient-search-terms {
    display: flex;
    justify-content: space-evenly;
}

.patient-submit-button {
    display: flex;
    justify-content: center;
}

.organization-search-terms {
    display: flex;
    justify-content: space-evenly;
}